# API Port
PORT=3000

# Supabase - Insert these keys into your local '.env' file (do not commit the .env file!)
# They can be found in your Supabase dashboard under: Project Settings > API
SUPABASE_URL=https://<your-project>.supabase.co
SUPABASE_ANON_KEY=eyJhbGci...

# If you prefer, you can add a Service Role Key. It has the power to bypass RLS and should ONLY be located in the Backend.
SUPABASE_SERVICE_ROLE_KEY=eyJhbGci...
